@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600 );
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  font-family: 'Source Code Pro', Arial, sans-serif;
  font-size: 120%;
  font-weight: 300;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  text-size-adjust: 100%;
  color: #000000;
  background: #d2d2cd;
}
@media only screen and ( max-width: 48em ) {
  body {
    font-size: 90%;
  }
}
* {
  outline: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: 1em;
}
h1 {
  float: left;
  margin: 0 0 0 1.1em;
  padding: 1em;
  font-size: 1em;
  font-weight: 300;
  line-height: 1;
}
h1 a:hover::after {
  content: '?';
}
a {
  color: inherit;
  text-decoration: none;
}
strong,
b {
  font-weight: 500;
}
input[type='submit'],
input[type='reset'],
input[type='button'],
button,
.button {
  cursor: pointer;
  white-space: nowrap;
}
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:hover,
.button:hover,
input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
button:active,
.button:active,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus,
button:focus,
.button:focus {
  background: rgba(0, 0, 0, 0.2);
}
nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 11;
  background: #d2d2cd;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
nav > a {
  float: right;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  white-space: nowrap;
}
nav > a:hover,
nav > a:active,
nav > a:focus {
  background: rgba(0, 0, 0, 0.2);
}
nav > a span input {
  height: 1em;
  width: 0;
  margin: -0.5em 0 -0.5em 0;
  padding: 0.5em 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  background: #d2d2cd;
  border: none;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
nav > a:hover input,
nav > a:active input,
nav > a:focus input {
  width: 12em;
  margin-left: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media only screen and ( max-width: 48em ) {
  nav > a span {
    position: absolute;
    left: 0;
    top: -6em;
    right: 0;
    z-index: 0;
    display: block;
    margin: 0;
    padding: 1em 1em 1em 2em;
    background: #a8a8a4;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  nav > a:hover span,
  nav > a:active span,
  nav > a:focus span {
    top: 3em;
  }
  nav > a span input,
  nav > a:hover input,
  nav > a:active input,
  nav > a:focus input {
    width: 100%;
    margin: 0 -1em;
    padding: 0.5em;
  }
}
.content {
  position: fixed;
  left: 0;
  top: 1.5em;
  right: 0;
  bottom: 0;
  padding: 1em;
  font-size: 2em;
  overflow: auto;
}
.tools {
  position: relative;
  left: -3px;
  float: left;
  margin: 0 0 0 -9em;
  padding: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.tools.active {
  left: 0;
  margin-left: 0;
}
.tools > a {
  display: block;
  float: left;
  width: 3em;
  height: 1em;
  margin: 0;
  padding: 1em 0;
  line-height: 1;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background: #d2d2cd;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.tools > a:hover,
.tools > a:active,
.tools > a:focus {
  background: #a8a8a4;
}
.tools > .emphasize {
  font-weight: normal !important;
  font-style: italic;
}
.tools > .strong {
  font-weight: bold;
  font-style: normal !important;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 2em;
  color: #fff;
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}
.modal > h2,
.modal > p {
  margin: 0;
  font-size: 100%;
  line-height: 1.3;
}
::-moz-selection {
  color: #000000;
  background: #2fe6ed;
}
::selection {
  color: #000000;
  background: #2fe6ed;
}
